@import "./styles/Main1/Body.css";
@import "./styles/Main1/Login.css";
@import "./styles/Main1/Register.css";
@import "./styles/Header.css";
@import "./styles/Footer.css";
@import "./styles/App.css";
@import "./styles/Home/Home.css";
@import "./styles/Main2/TripList.css";
@import "./styles/Main2/ViewMyTrips.css";
@import "./styles/Main2/YourTrip.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
