.list-item {
    list-style-type: none;
    padding: 10px;
    margin: 2px;
    color: #eee;
}

.list-item:hover {
    background-color: indianred;
}

.list-item-highlighted {
    background-color: orange;
}

.list-item-normal {
    background-color: indianred;
}