.body {
    height: 900px;
}

.top {
    height: 530px;
    padding: 20px;
    width: auto;
}
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.bottom {
    height: 200px;
    padding: 20px;
    color: #453a3a;
}